.rap-container {
  width: 400px;
  min-width: 300px;
  height: 56px;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.07);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
  border-radius: 4px;
  user-select: none;
  -webkit-user-select: none;
  background-color: #fff;
  color: #55606e;
}
.rap-container:focus {
  outline: none;
}
.rap-container .rap-current-time,
.rap-container .rap-total-time {
  min-width: 40px;
}
.rap-container .rap-total-time {
  text-align: right;
}
.rap-container .rap-pp-button {
  cursor: pointer;
}
.rap-container .rap-spinner {
  width: 18px;
  height: 18px;
  background-image: url('../assets/loading.png');
  background-size: cover;
  background-repeat: no-repeat;
  animation: rapSpin 0.4s linear infinite;
}
.rap-container .rap-slider {
  flex-grow: 1;
  background-color: #d8d8d8;
  cursor: pointer;
  position: relative;
}
.rap-container .rap-slider .rap-progress {
  background-color: #007fff;
  border-radius: inherit;
  position: absolute;
  pointer-events: none;
}
.rap-container .rap-slider .rap-progress .rap-pin {
  height: 16px;
  width: 16px;
  border-radius: 8px;
  background-color: #007fff;
  position: absolute;
  pointer-events: all;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.32);
}
.rap-container .rap-controls {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
  margin-left: 24px;
  margin-right: 24px;
}
.rap-container .rap-controls .rap-slider {
  margin-left: 12px;
  margin-right: 12px;
  border-radius: 2px;
  height: 4px;
}
.rap-container .rap-controls .rap-slider .rap-progress {
  width: 0;
  height: 100%;
}
.rap-container .rap-controls .rap-slider .rap-progress .rap-pin {
  right: -8px;
  top: -6px;
}
.rap-container .rap-controls span {
  cursor: default;
}
.rap-container .rap-volume {
  position: relative;
}
.rap-container .rap-volume .rap-volume-btn {
  cursor: pointer;
}
.rap-container .rap-volume .rap-volume-controls {
  width: 30px;
  height: 135px;
  background-color: rgba(0, 0, 0, 0.62);
  border-radius: 7px;
  position: absolute;
  left: -3px;
  bottom: 52px;
  flex-direction: column;
  align-items: center;
  display: flex;
  z-index: 1;
}
.rap-container .rap-volume .rap-hidden {
  display: none;
}
.rap-container .rap-volume .rap-vol-placement-top {
  position: absolute;
  left: 0;
  top: 32px;
}

.rap-container .rap-volume .rap-vol-placement-bottom {
  position: absolute;
  left: 0;
  top: 230px;
}

.rap-container .rap-volume .rap-volume-controls .rap-slider {
  margin-top: 12px;
  margin-bottom: 12px;
  width: 6px;
  border-radius: 3px;
}
.rap-container .rap-volume .rap-volume-controls .rap-slider .rap-progress {
  bottom: 0;
  height: 100%;
  width: 6px;
}
.rap-container .rap-volume .rap-volume-controls .rap-slider .rap-progress .rap-pin {
  left: -5px;
  top: -8px;
}

.rap-container svg {
  display: block;
}

.rap-backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

@keyframes rapSpin {
  from {
    transform: rotateZ(0);
  }
  to {
    transform: rotateZ(1turn);
  }
}
