.custom-style2.rap-container {
  background-color: #e4e4e4;
  color: #566574;
  border-radius: 20px;
}

.custom-style2.rap-container .rap-slider .rap-progress {
  background-color: #959595;
}

.custom-style2.rap-container .rap-slider .rap-progress .rap-pin {
  background-color: #566574;
  height: 18px;
  width: 18px;
  border-radius: 10px;
}

.custom-style2.rap-container .rap-controls .rap-slider .rap-progress .rap-pin {
  top: -5px;
}

.custom-style2.rap-container .rap-controls .rap-slider {
  height: 8px;
  border-radius: 4px;
}

.custom-style2.rap-container .rap-volume .rap-volume-btn.rap-volume-open path {
  fill: #000;
}

.custom-style2.rap-container .rap-volume .rap-volume-controls {
  background-color: #e4e4e4;
}

.custom-style2.rap-container .rap-volume .rap-volume-controls .rap-slider,
.custom-style2.rap-container .rap-volume .rap-volume-controls .rap-slider .rap-progress {
  width: 8px;
}
