.custom-style .rap-container {
  background-color: #000000;
  background-image: linear-gradient(147deg, #000000 0%, #04619f 74%);
  color: aliceblue;
}

.custom-style .rap-container .rap-pp-icon path,
.custom-style .rap-container .rap-volume-btn path {
  fill: white;
}

.custom-style .rap-container .rap-slider .rap-progress {
  background-color: #daecff;
}

.custom-style .rap-container .rap-volume .rap-volume-controls {
  background-color: #000000;
  background-image: linear-gradient(147deg, #000000 0%, #04619f 74%);
}

.custom-style .rap-container .rap-slider .rap-progress .rap-pin {
  background-color: #c3d5ff;
  box-shadow: 0 0 9px 7px #269eff52;
}
